<h4>I am...</h4>
<input type="radio" name="gender" value="male">Male</input>
<input type="radio" name="gender" value="female">Female</input>
<h4>Take the survey</h4>
<ol></ol>
<button class="btn btn-main js-submit">Submit</button>

